<% provide(:title, 'About')%>
<legend>About The App</legend>

	<p>
	   	 This is the about page. To learn how to build another application with less features, check out the tutorial for a sample application linked below. 
		 with <a href="http://railstutorial.org/" target="_blank"> Sample App Tutorial</a>. 
		 
	</p>
