<% provide(:title, 'About')%>
<h1>About The App</h1>

	<p>
	   	 This is the about page. To learn how to build another application with less features, check out the tutorial for a sample application linked below. 
		 with <a href="http://railstutorial.org/"> Sample App Tutorial</a>. 
		 
	</p>
